@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300italic,regular,italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);

/*Обнулення стилів*/

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   border: 0;
}
*,
*:before,
*:after {
   box-sizing: border-box;
}
html,
body {
   height: 100%;
   line-height: 1rem;
   min-width: 20rem;
}

a {
   text-decoration: none;
   color: inherit;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-style: inherit;
}

button {
   line-height: inherit;
   font-weight: inherit;
   font-style: inherit;
   cursor: pointer;
   color: inherit;
   background-color: transparent;
   border: none;
}

/*Загальні стилі =================================================================================================================*/

body {
   font-family: 'Rubik';
   font-size: 0.875rem;
   color: #646d70;
}
.wrapper {
   min-height: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;
}

/*налаштування адаптиву*/

[class*='__container'] {
   max-width: 52rem;
   padding-left: 0.9375rem;
   padding-right: 0.9375rem;
   margin: 0 auto;
}

/*модулі*/

.title {
   font-family: 'Merriweather';
   color: #fff;
   line-height: 130%;
   font-size: 1.875rem;
}
.title--dark {
   color: #222f33;
}
@media (max-width: 47.9988em) {
   .title {
      font-size: 1.5rem;
   }
}
.text {
   line-height: 185%;
}
.text p:not(:last-child) {
   margin-bottom: 0.9375rem;
}
.page {
   flex: 1 1 auto;
}
.page__main {
}

/*основні стилі*/

/*header*/
.header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 50;
}
.header__container {
   display: flex;
   gap: 1.25rem;
   justify-content: space-between;
   min-height: 6.5625rem;
   align-items: center;
   padding-top: 1.25rem;
   padding-bottom: 1.25rem;
}
.header__logo {
   overflow: hidden;
}
.header__logo img {
   width: 8.4375rem;
}
.header__body {
   display: flex;
   column-gap: 2.6875rem;
   align-items: center;
}
.header__button {
   padding: 0.625rem 1.3125rem;
   background-color: #fff;
   border-radius: 0.25rem;
   transition: background-color 0.3s ease-in-out;
}
.header__menu {
}
.menu {
}
.menu__list {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   column-gap: 2.5rem;
   row-gap: 0.5rem;
   color: #fff;
   font-size: 0.75rem;
   font-weight: 500;
}
.menu__item {
}
.menu__item:hover {
   text-decoration: underline;
   cursor: pointer;
}
.menu__link {
}
.menu__link:hover {
   text-decoration: underline;
}
.header__button:hover {
   background-color: #333;
   color: #fff;
}
@media (max-width: 39.0625em) {
   .header__logo {
      width: 50px;
      flex: 0 0 2.0625rem;
   }
   .header__container {
      min-height: 4.375rem;
   }
   .header__body {
      column-gap: 1.25rem;
   }
   .header__button {
      padding: 0.625rem 0.9375rem;
   }
   .menu__list {
      column-gap: 1.25rem;
      font-size: 0.875rem;
   }
}

/*головна секція*/
.main-section {
   min-height: 100vh;
   position: relative;
   display: flex;
}
.main-section__container {
   padding-top: 5.625rem;
   padding-bottom: 1.875rem;
   position: relative;
   z-index: 2;
   gap: 1.25rem;
   flex: 1 1 auto;
   display: grid;
   grid-template-columns: 54.32% 1fr;
   align-items: center;
}
@media (max-width: 43.75rem) {
   .main-section__container {
      grid-template-columns: auto;
      align-content: center;
   }
}
.main-section__content {
   flex: 1 1 54.32%; /* 440/810 */
}
.main-section__label {
   font-size: 1rem;
   font-weight: 500;
   color: #fff;
}
.main-section__label:not(:last-child) {
   margin-bottom: 0.75rem;
}
.main-section__title {
}
.title {
}
.main-section__video-link {
   justify-self: start;
   display: flex;
   align-items: center;
   column-gap: 0.625rem;
   color: #fff;
   font-size: 0.75rem;
   font-weight: 500;
}
.main-section__video-link::before {
   content: '';
   width: 2rem;
   height: 2rem;
   flex: 0 0 2rem;
   border: 50%;
   background: url(../img/main/Play.svg) left no-repeat;
}
.main-section__image {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #000;
}
.main-section__image img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
@media (max-width: 43.75rem) {
   .main-section__image img {
      opacity: 0.8;
   }
}
@media (min-width: 43.75rem) {
   .main-section__video-link {
      justify-self: center;
   }
}

/*section materials*/

.materials {
   position: relative;
   z-index: 2;
}
.materials__container {
   position: relative;
   padding-bottom: 1.25rem;
   z-index: 2;
   display: grid;
   grid-template-columns: 50% minmax(17.5rem, 20.3125rem);
   justify-content: space-between;
   align-items: start;
   gap: 1.25rem;
   min-width: 0;
}
.materials__slider {
   transform: translate(0, -20.765027%); /* 76/366 */
}
.slider-materials__slide {
   position: relative;
   /* aspect-ratio: 88.797814%; */
   width: 20.3125rem;
   height: 22.875rem;
}
.slider-materials__slide img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
}
.slider-materials__pagination {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0 0.3125rem 1rem 0.3125rem;
   flex-wrap: wrap;
   gap: 0.5rem;
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
}
.slider-materials__pagination .swiper-pagination-bullet {
   flex: 0 0 0.5rem;
   width: 0.5rem;
   height: 0.5rem;
   border-radius: 50%;
   background-color: #fff;
   opacity: 0.4;
   border-radius: 50%;
   cursor: pointer;
   transition: opacity 0.3s ease-in-out;
}
.slider-materials__pagination .swiper-pagination-bullet-active {
   opacity: 1;
}
.materials__content {
   padding-top: 1.5625rem;
   display: grid;
   justify-items: start;
   gap: 0.8125rem;
}
.materials__text {
}
.materials__more {
   font-size: 0.75rem;
   font-weight: 500;
   border-radius: 0.25rem;
   padding: 0.625rem 0.875rem;
   border: 1px solid #646d70;
}
.swiper {
   overflow: hidden;
}
.swiper-initialized {
   touch-action: pan-y;
}
.swiper-wrapper {
   display: flex;
   box-sizing: content-box;
}
.swiper-slide {
   flex-shrink: 0;
}
@media (min-width: 47.9988rem) {
   .materials::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 61.7%;
      height: 2.3125rem;
      background-color: #fff;
      transform: translate(0, -100%);
   }
   .materials::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 38.3%;
      height: 8.75rem;
      background-color: #222f33;
   }
}
@media (max-width: 47.9988rem) {
   .materials__container {
      grid-template-columns: auto;
      justify-content: center;
   }
   .materials__slider {
      transform: translate(0, 0);
   }
   .materials__content {
      justify-items: center;
   }
}

/*секція інновації*/

.innovatie {
   background-color: #222f33;
   padding: 4.375rem 0rem 5rem 0rem;
}
.innovatie__container {
}
.innovatie__title {
}
.innovatie__title:not(:last-child) {
   margin-bottom: 0.5rem;
}
.innovatie__text {
   columns: 2 15.625rem;
   gap: 2.6875rem;
}
@media (max-width: 47.9988rem) {
   .innovatie {
      padding: 1.875rem 0rem 1.875rem 0rem;
   }
}

/*секція інфо*/

.info {
   padding: 5.3125rem;
   padding-bottom: 5.3125rem;
}
.info__container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 4.6875rem;
   row-gap: 1.875rem;
}
.info__image {
   text-align: center;
}
.info__image img {
   max-width: 100%;
}
.info__content {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 3.75rem;
   row-gap: 2.3125rem;
}
.info__title {
   font-family: 'Merriweather';
   font-style: 1.125rem;
   font-weight: 900;
   color: #222f33;
}
.info__title:not(:last-child) {
   margin-bottom: 0.25rem;
}
.info__text {
   font-style: 0.75rem;
}
@media (max-width: 52.5em) {
   .info__content {
      column-gap: 1.25rem;
   }
   .info__container {
      column-gap: 1.5625rem;
   }
}
.info__title:not(:last-child) {
   margin-bottom: 0.25rem;
}
.info__text {
   font-style: 0.75rem;
}
@media (max-width: 47.9988em) {
   .info__image {
      order: 2;
   }
   .info__content {
      order: 1;
   }
   .info {
      padding: 2.5rem;
      padding-bottom: 2.5rem;
   }
   .info__container {
      grid-template-columns: auto;
   }
}

/*секція footer*/

.footer {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   background-color: #222f33;
   padding-top: 2.0625rem;
   padding-bottom: 2.0625rem;
}
.footer__container {
   display: grid;
   column-gap: 0.9375rem;
   row-gap: 1.25rem;
   color: #fff;
   align-items: center;
   grid-template-columns: repeat(3, 1fr);
}
.footer__mail {
   font-style: 0.75rem;
   font-weight: 500;
   justify-self: end;
}
.footer__mail:hover {
   text-decoration: underline;
}
.footer__logo {
   justify-self: center;
}
.footer__menu {
   justify-self: start;
}
.menu-footer {
   display: flex;
   gap: 1.875rem;
   align-items: center;
}
.menu-footer__item {
}
.menu-footer__link {
   font-style: 0.75rem;
   font-weight: 500;
}
.menu-footer__link:hover {
   text-decoration: underline;
}
@media (max-width: 37.5em) {
   .footer__container {
      grid-template-columns: auto;
      justify-content: center;
   }
   .footer__menu {
      justify-self: center;
   }
   .footer__mail {
      justify-self: center;
   }
}
